body {
    background: url(GamerMeme2.jpg) repeat 0 0;
    background-attachment: fixed;
}

.container {
    background-color: rgba(0, 0, 0, 0.781);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

h1 {
    border: 8px ridge #c7c7c7;
    color: #ffffff;
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-family: 'Cinzel', serif;
    font-size: 25px;
}

p {
    color: #ffffff;
    font-family: 'Cardo', serif;
    font-size: 15px;
}

img {
    border: 8px ridge #c7c7c7;
    max-width:100%;
    width: 500px;
    height: 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 700px) {
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 35px;
    }

    p {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    body {
        max-width: 900px;
    }

    h1 {
        font-size: 120px;
    }

    h2 {
        font-size: 55px;
    }

    p {
        font-size: 30px;
    }
}